
body { 
    background-color: rgb(161, 94, 192);
    text-aling: center;
}

p {
    font-size: medium;
}

h1 {
    font-style: italic;
}

.borboleta {
    color: rgb(45, 137, 137);
}

.img1 {
    width: 60%;
}
